header img{
    width: 300px;
    height: 48px;
}
.main-tables-container {
    width: 930px;
    margin: 0 auto;
    overflow-x: unset;
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.bitcoin-img-container {
    max-height: 40px;
    background-image: none ;
    background-color: #f7931a;
    align-content: center;
}
.bitcoin-img-container h2 {
    padding-top: 7px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.plans-container--slider {
    justify-content: center;
    overflow-x: unset;
}
footer {
    height: 100px;
}
footer .left ul {
    display: inherit;
}
.left a {
    margin: 0 10px;
}
.right img {
    height: 65px;
}
